@charset "UTF-8";

body * { vertical-align: middle; }
table { border-top: 2px solid var(--bs-gray-dark)  }
table th { background-color: var(--bs-gray-100) !important }
table.tb-list th, table.tb-list td,
table.tb-row th, table.tb-row td{ 
	border-right: 1px solid var(--bs-border-color);
   	padding-left: 20px !important 
}
table th:last-child, table td:last-child { border-right: none; }
table.tb-list tr { height: 45px }
table.tb-row tr { height: 55px }

a:link, a:visited, .pagination a, .nav-pills a, .nav-tabs a { text-decoration: none; color: initial; }
.text-link:hover { text-decoration: underline; color: var(--bs-link-hover-color);  }
.pagination a:not(.active):hover { cursor: pointer; } 

/* 페이지 타이틀의 스타일 추가 (예시) */
.page-title {
    height: 60px; /* 페이지 타이틀의 높이 */
    position: relative; /* 상대 위치로 설정 */
}

/* 홈 화면이 아닐 때(사이드바가 있을 때)의 스타일 */
#content {
    padding: 20px;
    width: calc(100% - 200px);
}

/* 홈 화면에서는 사이드바가 없으므로 전체 화면을 차지하도록 */
.full-width {
    margin-left: 0;
    width: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    /* 전체 높이 */
}

.list-group-item {
    cursor: pointer;
}

.collapse .list-group-item {
    padding-left: 30px; /* 하위 카테고리 들여쓰기 */
}

/* .dropdown-menu { */
/*     display: none; */
/*     position: relative; */
/*     list-style-type: none; */
/*     padding-left: 20px; 하위 메뉴 들여쓰기 */
/*     margin-top: 10px;   하위 메뉴와 상위 메뉴 간 간격 */
/* } */

/* .dropdown-menu.show { */
/*     display: block !important; 부트스트랩의 메뉴 열림 상태 유지 */
/* } */

/* /* 하위 메뉴 아이템 스타일 */ */
/* .dropdown-menu li { */
/*     padding: 5px 0; */
/* } */

.notify-comment {
	font-size: small;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	max-height: 40px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 미확인댓글수표시 */
#notify-count{
	box-sizing: content-box;
	display: inline-block;
	position: relative;
	left: -18px;
	top: -12px;
	min-width: 16px;
	line-height: 16px;
	padding: 4px;
	font-size: small;
	font-weight: bold;
	text-align: center; 	
}
.notify-on{
	background-color: #dc3545;
	border-radius: 50%;
	color: #fff;
}


.w-px40 { width: 40px !important } 
.w-px80 { width: 80px !important } 
.w-px100 { width: 100px !important } 
.w-px150 { width: 150px !important } 
.w-px200 { width: 200px !important } 
.w-px250 { width: 250px !important } 
.w-px300 { width: 300px !important } 
.w-px350 { width: 350px !important } 
.w-px400 { width: 400px !important } 
.w-px500 { width: 500px !important } 

.h-px40 { height:40px !important }
.h-px100 { height:100px !important }
.h-px110 { height:110px !important }
.h-px150 { height:150px !important }
.h-px400 { height:400px !important }
.h-px500 { height:500px !important }
.h-px600 { height:600px !important }
.h-max520 { max-height:520px !important }

.profile img { width:100%; height:100%; border-radius: 50% }
.font-profile { height:100%; color: var(--bs-gray-500) }
.px40 { width:40px !important; height: 40px !important }
.px80 { width:80px !important; height: 80px !important }

.date + .date-remove { position: relative; right: 35px }

textarea.form-control { resize: none; height:250px }

.me-6 {
	margin-right: 140px; 
}

.box {
    width: 50%;
    border: 2px solid green;
    background-color: white;
    margin-left: 20%;
    padding: 20px;
    border-radius: 5px;
    margin-right: auto;
    color: black;
    text-align: center;
    position: relative;
}

.plant-mg {
    display: flex; /* 이미지와 말풍선을 가로로 나란히 배치 */
    align-items: center; 
    justify-content: center; /* 이미지와 말풍선을 왼쪽 정렬 */
    position: relative; /* 자식 요소인 말풍선의 위치 기준 */
    padding-left: 100px;
}

.box img {
    width: 50%; /* 이미지 크기를 조정 */
    height: auto;
    object-fit: contain;
    
}

.speech-bubble {
    position: relative;
    background-color: #ffffff;
    top: 10%;
/*     left: -5px; */
    border-radius: 15px;
    color: #000000;
    padding: 50px;
    margin-left: 10px; /* 이미지와 말풍선 사이의 간격 */
    border: 2px solid green;
    font-size: 25px;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    border-right: 16px solid #ff80ff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translateY(-50%);
    border-right-color: green;
}

.text-box {
    margin-top: 20px; /* 이미지와 텍스트 사이의 여백 */
}

.text-box h3 {
    margin: 0;
    font-size: 30px;
}

.box1.btn:hover{
	 border: 2px solid var(--contrrast-color);
	outline: solid;
}
