<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.farm.board.BoardMapper">

<!-- 댓글 삭제 -->
<delete id="deleteComment">
delete from board_comment where id = #{id}
</delete>

<!-- 댓글 변경 저장 -->
<update id="updateComment">
update board_comment set content = #{content} where id = #{id}
</update>

<!-- 댓글정보조회 -->
<select id="getOneComment">
select * from board_comment where id = #{id}
</select>

<!-- 댓글 건수 조회 -->
<select id="getCountOfComment" resultType="integer">
select count(*) from board_comment where board_id = #{board_id}
</select>

<!-- 댓글 목록 조회 -->
<select id="getListOfComment" resultType="comment">
select * 
from (select c.*, name, row_number() over(order by id) no
	  from board_comment c inner join member m on c.writer = m.userid
	  where board_id = #{board_id}) c
where no BETWEEN #{page.beginList} and #{page.endList}
order by no DESC	  
</select>

<!-- 댓글 등록 -->
<insert id="registerComment">
insert into board_comment (board_id, content, writer)
values (#{parent_id}, #{content}, #{writer})
</insert>

<!-- 게시판 삭제처리 -->
<delete id="deleteBoard">
delete from board where board_id = #{board_id}
</delete>

<!-- 게시판 변경저장 -->
<update id="updateBoard">
update board set board_title = #{board_title, jdbcType=VARCHAR}, board_content = #{board_content, jdbcType=VARCHAR},
				 board_type_id = #{board_type_id}
where board_id = #{board_id}
</update>

<!-- 조회수 증가 처리 -->
<update id="updateReadCount">
update board set board_readcnt = board_readcnt + 1
where board_id = #{board_id}
</update>

<!-- 게시판 정보조회 -->
<select id="getOneBoard" resultType="board">
select b.*, bt.board_type_name as type_name
from board b join board_type bt on b.board_type_id = bt.board_type_id
where b.board_id = #{board_id}
</select>

<!-- 게시판 신규 등록 -->
<insert id="registerBoard">
insert into board (board_title, board_content, board_writer, board_type_id)
values ( #{board_title, jdbcType=VARCHAR}, #{board_content, jdbcType=VARCHAR}, #{board_writer}, #{board_type_id})
</insert>

<!-- 해당 게시판 전체 목록수 조회 -->
<select id="getCountOfBoardType" resultType="integer">
select count(*) from board 
<if test="board_type_id != 0"> where board_type_id = #{board_type_id} </if> <include refid="whereSearchType"/>
<!-- where board_type_id = #{board_type_id} -->
</select>

<!-- 게시판 전체 목록수 조회 -->
<select id="getCountOfBoard" resultType="integer">
select count(*) from board <include refid="whereSearch"/>
</select>

<!-- 특정 게시판 목록 조회 -->
<select id="getListOfBoardType" parameterType="map" resultType="board">
SELECT *
FROM (
	SELECT row_number() over(order by b.board_id) AS no,
		   b.board_type_id,
		   b.board_id,
		   b.board_title,
		   b.board_writedate,
		   b.board_readcnt,
	   	   m.name AS board_writer,
	       bt.board_type_name AS type_name
	FROM board b
	JOIN member m ON b.board_writer = m.userid
	JOIN board_type bt ON b.board_type_id = bt.board_type_id
	<if test="board_type_id != 0"> where b.board_type_id = #{board_type_id} </if>
	<include refid="whereSearchType"/>
)
WHERE no BETWEEN #{page.beginList} AND #{page.endList}
ORDER BY no DESC

<!-- SELECT row_number() over(order by b.board_id) AS no, -->
<!-- 	   b.board_type_id, -->
<!-- 	   b.board_id, -->
<!-- 	   b.board_title, -->
<!-- 	   b.board_writedate, -->
<!-- 	   b.board_readcnt, -->
<!--        m.name AS board_writer,     유저 테이블에서 작성자 이름을 가져옴 -->
<!--        bt.board_type_name AS type_name   게시판 종류 테이블에서 게시판 종류 이름을 가져옴 -->
<!-- FROM board b  -->
<!-- JOIN member m ON b.board_writer = m.userid -->
<!-- JOIN board_type bt ON b.board_type_id = bt.board_type_id -->
<!-- <if test="board_type_id != 0"> WHERE b.board_type_id = #{board_type_id}</if>   특정 게시판 유형에 해당하는 게시물만 조회 -->
<!-- ORDER BY b.board_id DESC   최신 작성 순으로 정렬 -->
</select>

<!-- 게시판 유형 조회 -->
<select id="getBoardTypes" resultType="boardType">
select * from board_type order by board_type_id
</select>

<!-- 게시판 페이지 목록조회 -->
<select id="getListOfBoard" resultType="board">
SELECT *
FROM (
	SELECT row_number() over(order by b.board_id) AS no,
		   b.board_id,
		   b.board_title,
		   b.board_writedate,
		   b.board_readcnt,
	   	   m.name AS board_writer,
	       bt.board_type_name AS type_name
	FROM board b
	JOIN member m ON b.board_writer = m.userid
	JOIN board_type bt ON b.board_type_id = bt.board_type_id
	<include refid="whereSearch"/>
)
WHERE no BETWEEN #{beginList} AND #{endList}
ORDER BY no DESC
</select>

<!-- 특정 게시판 유형 검색조건절 -->
<sql id="whereSearchType">
<if test="page.keyword != null">
		<if test="board_type_id != 0"> and </if>
		<if test="board_type_id == 0"> where </if>
	<choose>
		<when test="page.search == 'all'"> <!-- 전체 -->
			 (board_title like '%' || #{page.keyword} || '%'
			or board_content like '%' || #{page.keyword} || '%'
			or board_writer in (select userid from member where name like '%' || #{page.keyword} || '%'))
		</when>
		<when test="page.search == 'title'"> <!-- 제목 -->
			 board_title like '%' || #{page.keyword} || '%'
		</when>
		<when test="page.search == 'content'"> <!-- 내용-->
			 board_content like '%' || #{page.keyword} || '%'
		</when>
		<when test="page.search == 'writer'"> <!-- 작성자 -->
			 board_writer in (select userid from member where name like '%' || #{page.keyword} || '%')
		</when>
	</choose>
</if>
</sql>

<!-- 전체 검색조건절 -->
<sql id="whereSearch">
<if test="keyword != null">
	<choose>
		<when test="search == 'all'"> <!-- 전체 -->
			where board_title like '%' || #{keyword} || '%'
			or board_content like '%' || #{keyword} || '%'
			or board_writer in (select userid from member where name like '%' || #{keyword} || '%')
		</when>
		<when test="search == 'title'"> <!-- 제목 -->
			where board_title like '%' || #{keyword} || '%'
		</when>
		<when test="search == 'content'"> <!-- 내용-->
			where board_content like '%' || #{keyword} || '%'
		</when>
		<when test="search == 'writer'"> <!-- 작성자 -->
			where board_writer in (select userid from member where name like '%' || #{keyword} || '%')
		</when>
	</choose>
</if>
</sql>
</mapper>