<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.farm.board.BoardMapper">

<!-- 게시판 정보조회 -->
<select id="getOneBoard" resultType="board">
select * from board where board_id = #{board_id}
</select>


<!-- 게시판 전체 목록수 조회 -->
<select id="getCountOfBoard" resultType="integer">
select count(*) from board <include refid="whereSearch"/>
</select>

<!-- 게시판 종류 선택 조회 -->
<select id="getListOfBoardType">
select * from board where board_type_id = #{boardTypeId} order by id DESC
</select>

<!-- 게시판 종류 조회 -->
<select id="getBoardTypes" resultType="boardType">
select * from board_type order by board_type_id
</select>

<!-- 게시판 페이지 목록조회 -->
<select id="getListOfBoard" resultType="board">
SELECT 
    b.board_id AS no,
    b.board_title,
    b.board_content,
    m.name AS board_writer,    <!-- 유저 테이블에서 작성자 이름을 가져옴 -->
    bt.board_type_name AS type_name,  <!-- 게시판 종류 테이블에서 게시판 종류 이름을 가져옴 -->
    b.board_writedate,
    b.board_readcnt
FROM 
    board b
JOIN 
    member m ON b.board_writer = m.userid
JOIN 
    board_type bt ON b.board_type_id = bt.board_type_id
ORDER BY 
    b.board_id DESC  <!-- 최신 작성 순으로 정렬 -->

<!-- SELECT * -->
<!-- FROM ( -->
<!--     SELECT  -->
<!--         ROW_NUMBER() OVER (ORDER BY b.board_id DESC) no,  페이징을 위한 no 생성 -->
<!--         b.board_id,  -->
<!--         b.board_title, -->
<!--         b.board_content, -->
<!--         b.board_writedate, -->
<!--         b.board_readcnt, -->
<!--         t.board_type_name, -->
<!--         m.name AS writer_name -->
<!--     FROM  -->
<!--         board b -->
<!--     JOIN  -->
<!--         board_type t ON b.board_type_id = t.board_type_id 게시판 종류 조인 -->
<!--     JOIN  -->
<!--         member m ON b.board_writer = m.userid             작성자(유저) 조인 -->
<!--     WHERE  -->
<!--         t.board_type_id = #{boardTypeId}  특정 게시판 종류 필터링 (필요 시) -->
<!--         <include refid="whereSearch"/>    검색 조건 필터링 (필요 시) -->
<!-- )  -->
<!-- WHERE  -->
<!--     no BETWEEN #{beginList} AND #{endList}   페이징 범위 설정 -->
</select>

<sql id="whereSearch">
<if test="keyword != null">
	<choose>
		<when test="search == 'all'"> <!-- 전체 -->
			where board_title like '%' || {keyword} || '%'
			or board_content like '%' || {keyword} || '%'
			or board_writer in (select userid from member where name like '%' || {keyword} || '%')
		</when>
		<when test="search == 'title'"> <!-- 제목 -->
			where board_title like '%' || {keyword} || '%'
		</when>
		<when test="search == 'content'"> <!-- 내용-->
			where board_content like '%' || {keyword} || '%'
		</when>
		<when test="search == 'writer'"> <!-- 작성자 -->
			where board_writer in (select userid from member where name like '%' || {keyword} || '%')
		</when>
	</choose>
</if>
</sql>
</mapper>