<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.farm.board.BoardMapper">

<!-- 게시판 변경저장 -->
<update id="updateBoard">
update board set board_title = #{board_title, jdbcType=VARCHAR}, board_content = #{board_content, jdbcType=VARCHAR},
				 board_type_id = #{board_type_id}
where board_id = #{board_id}
</update>

<!-- 게시판 정보조회 -->
<select id="getOneBoard" resultType="board">
select b.*, bt.board_type_name as type_name
from board b join board_type bt on b.board_type_id = bt.board_type_id
where b.board_id = #{board_id}
</select>

<!-- 게시판 신규 등록 -->
<insert id="registerBoard">
insert into board (board_title, board_content, board_writer, board_type_id)
values ( #{board_title, jdbcType=VARCHAR}, #{board_content, jdbcType=VARCHAR}, #{board_writer}, #{board_type_id})
</insert>

<!-- 게시판 전체 목록수 조회 -->
<select id="getCountOfBoard" resultType="integer">
select count(*) from board <include refid="whereSearch"/>
</select>

<!-- 게시판 종류 선택 조회 -->
<select id="getListOfBoardType" resultType="board">
SELECT row_number() over(order by b.board_id) AS no, b.*,
       m.name AS board_writer,    <!-- 유저 테이블에서 작성자 이름을 가져옴 -->
       bt.board_type_name AS type_name   <!-- 게시판 종류 테이블에서 게시판 종류 이름을 가져옴 -->
FROM board b 
JOIN member m ON b.board_writer = m.userid
JOIN board_type bt ON b.board_type_id = bt.board_type_id
WHERE b.board_type_id = #{board_type_id}   <!-- 특정 게시판 유형에 해당하는 게시물만 조회 -->
ORDER BY b.board_id DESC   <!-- 최신 작성 순으로 정렬 -->
</select>

<!-- 게시판 종류 조회 -->
<select id="getBoardTypes" resultType="boardType">
select * from board_type order by board_type_id
</select>

<!-- 게시판 페이지 목록조회 -->
<select id="getListOfBoard" resultType="board">
SELECT row_number() over(order by b.board_id) AS no, b.*,
   	   m.name AS board_writer,    <!-- 유저 테이블에서 작성자 이름을 가져옴 -->
       bt.board_type_name AS type_name  <!-- 게시판 종류 테이블에서 게시판 종류 이름을 가져옴 -->
FROM board b
JOIN member m ON b.board_writer = m.userid
JOIN board_type bt ON b.board_type_id = bt.board_type_id
<include refid="whereSearch"/> <!-- 검색 조건 추가 -->
ORDER BY  b.board_id DESC  <!-- 최신 작성 순으로 정렬 -->
    
<!-- WHERE  -->
<!--     no BETWEEN #{beginList} AND #{endList}   페이징 범위 설정 -->
</select>

<!-- 검색조건절 -->
<sql id="whereSearch">
<if test="keyword != null">
	<choose>
		<when test="search == 'all'"> <!-- 전체 -->
			where board_title like '%' || #{keyword} || '%'
			or board_content like '%' || #{keyword} || '%'
			or board_writer in (select userid from member where name like '%' || #{keyword} || '%')
		</when>
		<when test="search == 'title'"> <!-- 제목 -->
			where board_title like '%' || #{keyword} || '%'
		</when>
		<when test="search == 'content'"> <!-- 내용-->
			where board_content like '%' || #{keyword} || '%'
		</when>
		<when test="search == 'writer'"> <!-- 작성자 -->
			where board_writer in (select userid from member where name like '%' || #{keyword} || '%')
		</when>
	</choose>
</if>
</sql>
</mapper>