<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.farm.log.LogMapper">


<select id="getOneWaterInfo" resultType="water">
	select * from water_manage
</select>


<!-- 플랜테이블 목록 조회 -->
<select id="getPlantStandardInfo" resultType="guide" parameterType="int">
    SELECT standard_temp, standard_hum, image_path, plant_name
    FROM plant
    WHERE plant_id = #{plantid_log}
</select>



<select id="getOneLog" resultType="log">
select * from userplant where plantid_log = #{plantid_log}
</select>

<!-- 플랜로그조회 테이블 목록 조회 -->
<select id="getListOfTemperature" resultType="temperature">
select * from plants_logs_select
</select>

</mapper>