<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.farm.log.LogMapper">





<!-- 온습조도 정보 조회 -->
<select id="getOneTemperature" resultType="temperature">
	select * from plants_logs_select
	where  userid = #{userid_log} and plant_id = #{plantid_log}
</select>

<!-- 플랜테이블 정보 조회 -->
<select id="getPlantStandardInfo" resultType="guide" parameterType="int">
    SELECT standard_temp, standard_hum, image_path, plant_name
    FROM plant
    WHERE plant_id = #{plantid_log}
</select>



<!-- 플랜로그조회 테이블 목록 조회 -->
<select id="getListOfTemperature" resultType="temperature">
select * from plants_logs_select
</select>




<!-- 온도 -->
<!-- 최근 10개의 데이터 조회 -->
<select id="getCountByTemperature" resultType="LowerMap">
    SELECT temperature, humid, bright, moisture, to_char(time_log, 'HH24:MI') as time_log 
    FROM plants_logs_update 
    WHERE userid = #{userid_log} and plant_id = #{plantid_log}
    ORDER BY time_log DESC 
    FETCH FIRST 10 ROWS ONLY
</select>


<!-- 급수관리 유저별 총건수 조회 -->
<select id="countOfWater" resultType="integer">
select count(*) from water_manage where userid = #{userid} and plant_id = #{plant_id}
</select>



<!-- 급수관리 목록 조회 -->
<select id="getListOfWaterByUser" resultType="water">
SELECT *
FROM (
    SELECT row_number() over(order by water_numb) no, 
           water_numb,
           TO_CHAR(waterdate, 'YYYY-MM-DD HH24:MI:SS') AS waterdate,
           soilmoisture
    FROM water_manage 
    inner join plant using (plant_id)
<!--    where userid = #{userid} and plant_id = #{plant_id}) -->
<!--     FROM water_manage inner join plant using (plant_id) -->
    WHERE userid = #{userid})
WHERE no BETWEEN #{page.beginList} AND #{page.endList}  <!-- 페이지 범위에 따라 결과 제한 -->
ORDER BY no desc
</select>


<!-- <select id="getListOfWater" resultType="water"> -->
<!-- select * from  -->
<!-- (SELECT row_number() over(order by water_numb) no, water_numb, -->
<!-- TO_CHAR(waterdate, 'YYYY-MM-DD HH24:MI:SS') AS waterdate, soilmoisture  -->
<!-- from water_manage where userid = #{userid} and plant_id = #{plantid_log}) -->
<!-- order by water_numb desc -->
<!-- </select> -->


</mapper>